body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #4D4646;
  background-color: #F5EAEA;
}

h1 {
  font-size: 5.625rem;
  color: #4D4646;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #5B5656;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

div {
}

a {
  color: gray;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #E5DFDF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.top-container {
  background-color: #7FCD91;
  position: relative;
  padding-top: 100px;
}

.mid-container {
  margin: 100px 0;
}

.bot-container {
  background-color: #7FCD91;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 40%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bot-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  margin:0;
}

.profile-pic {
  border-radius: 50%;
}

.skill-span {
  text-decoration: underline;
  font-weight: bold;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.second-skills {
  width: 25%;
  float: right;
  margin-left: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #FFFFFFF;
  background: #11cdd4;
  background: linear-gradient(top,  #11CDD4,  #119998);
  background: -ms-linear-gradient(top,  #11CDD4,  #119998);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#119998));
  background: -moz-linear-gradient(top,  #11CDD4,  #119998);
}
.btn:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
